.cadastroMain {

    margin-top: 7rem;


    .titulo {
        padding-bottom: 30px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: #009ee2;
    }

    & form {
        max-width: 1280px;
        margin: 0 auto;
        padding: 6rem 4rem;
        background-color: #f9f9f9;
        overflow: hidden;
        border-left: 5px solid #007bff;
        border-radius: 1rem;
    }

    & label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    & input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    & button[type="submit"] {
        clear: both;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 100%;
    }

    & button[type="submit"]:hover {
        background-color: #0056b3;
    }

    & input[type="date"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    & input[type="date"] + button[type="submit"] {
        clear: both;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 100%;
    }

    & input[type="date"] + button[type="submit"]:hover {
        background-color: #0056b3;
    }

    & input[type="date"] + label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .cadastroMain {
        & input[type="text"],
        input[type="select"],
        textarea,
        button[type="submit"] {
            width: 100%;
            float: none;
            margin-right: 0;
        }
    }
}

@media (max-width: 1280px) {
    .cadastroMain {
        & form {
            border-radius: 0;
            padding: 3rem 2rem;
        }
    }
}
