.txtPagConfirmacao {
  font-size: 2.5rem;
  color: black;
  text-align: center;
}

.imgPagConfirmacao {
  width: 300px;
  height: 252px;

}

.centralizarImgConfirmacao {
  display: flex;
  justify-content: center;
}

.tituloPagConfirmacao {
  color: black;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.conteudoConfirmacao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.mainConfirmacao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  height: 100vh;
}

.conteudoConfirmacao {
  max-width: 1280px;
}

@media (max-width: 768px) {
  .imgPagConfirmacao {
    width: 200px;
    height: 168px;
  }

  .txtPagConfirmacao {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }

  .tituloPagConfirmacao {
    font-size: 2rem;
  }
}
