*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS padrão entre as páginas */
.botaoPadrao {
    font-size: 1.2rem;
    color: white;
    background-color: #009EE2;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in-out;
    margin-right: 1em;
    
}

.botaoPadrao:hover {
    filter: brightness(0.9);
    scale: 1.02;
}