/* ESTILIZANDO A PAGINA PRINCIPAL */

.textLeft-PI {
    text-align: left;
}
.textLeft-PI ul {
    margin-left: 2rem;
}
.pagina-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
}

.left-column {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.conteudoPrincipal {
    padding: 1rem;
    width: 100%;
    height: 100%;
    color: #009EE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.conteudoPrincipal h1 {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}

.conteudoPrincipal h2 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.conteudoPrincipal li {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: #000;
    margin: 0.75rem;
}

.botao-padrao {
    font-size: 1.2rem;
    color: white;
    background-color: #009EE2;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in-out;
    margin-right: 1em;
    
}

.botao-padrao:hover {
    filter: brightness(0.9);
    scale: 1.02;
}

.tamanho-1-5rem {
    font-size: 1.5rem;
}

/* Estilizando a imagem à direita */

.right-column {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%; 
  height: 100vh; 
}

.componente-imagem Image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  

.botoes-pagina-inicial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1280px){
    .conteudoPrincipal h1 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }
    
    .conteudoPrincipal h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
    
    .conteudoPrincipal li {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;
    }

    .conteudoPrincipal button {
        font-size: 1rem;
    }
}


