.textLeftPI {
    text-align: left;
}
.textLeftPI ul {
    margin-left: 2rem;
}

.paginaPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
}

.conteudoPrincipal {
    padding: 1rem;
    width: 100%;
    height: 100%;
    color: #009EE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.conteudoPrincipal h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.conteudoPrincipal h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.conteudoPrincipal li {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: #000;
    margin: 0.75rem;
}

.tamanho_1_5rem {
    font-size: 1.5rem;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.rightColumn {
    position: relative;
    max-height: 100vh;
    aspect-ratio: 2/3;
}

.rightColumn img {
    display: block;
}


.botoesPaginaInicial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


@media (max-width: 1280px){
    .conteudoPrincipal h1 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }
    
    .conteudoPrincipal h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
    
    .conteudoPrincipal li {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;
    }

    .conteudoPrincipal button {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .rightColumn {
        display: none;
        width: 0%;
    }

}