.uploadMain {
  margin-top: 7rem;
  text-align: center;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #009ee2;
}

.centralizarMain {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilizando o container dos quadrados */
.UploadContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

/* Estilizando cada quadrado individualmente */
.foto
{
  position: relative;
  padding: 2rem; /* Espaçamento interno */
  text-align: center; /* Centraliza o conteúdo */
  background-color: #d9d9d9; /* Cor de fundo */
  width:350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.fotoBike {
  position: absolute;
  top: 10px;
  margin: auto;
  max-width: 240px;
  max-height: 240px;
}

/* Estilizando o texto dentro de cada quadrado */
.foto h2 {
  font-size: 16px;
  font-weight: bold;
}

.alinhamentoUpload {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
}

.instrucaoFoto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 4rem;
}

.colunmConfirmacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 1280px) {
  .foto {
    padding: 1rem;
    width: 300px;
    height: 300px;
  }

  .fotoBike {
    max-width: 200px;
    max-height: 200px;
  }

  .instrucaoFoto {
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  .alinhamentoUpload {
    flex-direction: column;
    align-items: center;
  }

  .UploadContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
